.hidden {
  display: none !important;
}

#user-ships button, #user-guess button {
  height: 90px;
  width: 100px;
}

#user-view {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#create-ship > button, #choose-ship-type > button, #user-ships-container, #user-guess-container {
  margin: 10px;
}

#user-ships-container {
  margin-right: 30px;
}

#user-view > section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}